:root {
  --cor-fundo: #f7def2;
  --cor-principal: #f873e6;
  --cor-secundaria: #212333;
  --cor-destaque: #f1f9fa;
  --cor-texto: #D7F9FF;
}
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1 {
  color: var(--cor-destaque);
}